* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    background-color: blue;
} */

:root {
    --main-dark: #333;
    --main-light: white;
    --blue-comics: #0C7CEC;
    --green-select: rgb(29, 207, 29);
    --appmain-anchortags: #887A7C;
}

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    min-height: 80px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;

    background: linear-gradient(45deg, #000000, #cccccc, #ffffff);
    border-bottom: solid .25px #cccccc;

    & .container {
        & .logo {
            width: 70px;
            aspect-ratio: 1 / 1;
        }

        & .logo:hover {
            transform: rotate(-10deg);
        }

        & ul {
            margin-top: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            & li {
                color: var(--main-dark);
                text-decoration: none;
                text-transform: uppercase;
                list-style: none;
                margin: auto .4rem;
                font-size: .6rem;
                font-weight: bolder;
            }

            & li:hover {
                font-weight: 800;
                color: var(--blue-comics);
                border-bottom: solid 2px var(--blue-comics);
            }
        }
    }
}

footer {
    min-height: 100px;
    background: linear-gradient(var(--blue-comics), #0063c6, var(--blue-comics));
    font-family: 'Open Sans', sans-serif;


    & .container {
        width: 80%;

        & .wrapper {
            width: calc((100% / 5) - 15px);
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                max-width: 37px;
                aspect-ratio: 1 / 1;
            }

            & a {
                margin-top: 0.1rem;
                margin-left: .5rem;
                text-transform: uppercase;
                text-decoration: none;
                color: var(--main-light);
                font-size: .7rem;
                font-weight: 500;
            }
        }
    }

}